.navbar__logo {
    object-fit: contain !important;
    width: 7rem;
}

.navbar__height {
    height: 65px;
    background-color: #fff !important;
}

.btn-signupforfree {
    background-color: black;
    color: white !important;
    padding: 10px !important;
    border-radius: 70px !important;
    font-size: 0.9rem;
    font-weight: 700;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-text {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Montserrat';
    color: #000 !important;
}

.bottom-footer {
    background-image: url('../assets/footer-bg.png') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
}

.count-text {
    padding-top: 8rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Montserrat';
}

.text-free {
    color: rgb(243, 243, 243) !important;
    font-size: 1.0rem !important;
}

.email_txt_field {
    padding: 0.5rem;
    width: 18rem;
    margin-right: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(245, 245, 245);
    outline: none;
    box-shadow: none;
}

.footer {
    position: relative;
    height: 100% !important;
    padding-top: 5rem;
    width: 100% !important;
}

@media (max-width:768px) {
    .review__contianer {
        background: rgb(255, 255, 255);
        height: 200px;
        width: 450px;
        border: 1px solid rgb(235, 235, 235);
    }
}


/* Footer */

#button-addon1 {
    color: #ffc371
}

i {
    color: #ffffff;
    font-size: 20px
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic
}

.form-control.shadow-0:focus {
    box-shadow: none
}

.display-3 {
    font-family: 'Sanchez', serif
}

p {
    font-family: 'Tajawal', sans-serif
}

.lead {
    font-family: 'Sanchez 200', serif
}

.bg-grey {
    background-color: rgba(238, 238, 238, 0.878) !important;
}

.footer-logo {
    font-size: 1.7rem;
}

.contact__heading {
    font-size: 2rem !important;
}

.contact__para {
    font-size: 1rem !important;
    font-weight: 500 !important;
    color: rgb(80, 80, 80);
}

.btn-submitForm {
    background-color: rgb(255, 81, 0) !important;
    border: none !important;
    font-size: 0.9rem;
    font-weight: 600;
    height: 45px;
    border-radius: 5px;
    padding: 0rem 8rem;
    color: #fff;
}

.contact .container {
    width: 60rem;
}

@media (max-width:768px) {
    .contact .container {
        width: 100% !important;
    }
}