.error-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}

.not-found {
    font-size: 5rem
}

.send {
    color: #fff;
    background-color: #6A1B9A;
    border-color: #6A1B9A
}

.send:hover {
    color: #fff;
    background-color: #6A1B9A;
    border-color: #6A1B9A
}

@media (min-width:768px) {
    .not-found {
        font-size: 10rem
    }
}