.bottom-footer {
    background-image: url('../assets/footer-bg.png') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: fit-content !important;
}

.count-text {
    padding-top: 8rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Montserrat';
}

.text-free {
    color: rgb(243, 243, 243) !important;
    font-size: 1.0rem !important;
}

.email_txt_field {
    padding: 0.75rem !important;
    width: 17rem;
    margin-right: 0.5rem;
    background-color: #fff !important;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}

.footer {
    position: relative;
    height: 100% !important;
    padding-top: 5rem;
    width: 100% !important;
}


/* Footer */

#button-addon1 {
    color: #ffc371
}

i {
    color: #ffffff;
    font-size: 20px
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic
}

.form-control.shadow-0:focus {
    box-shadow: none
}

.display-3 {
    font-family: 'Sanchez', serif
}

p {
    font-family: 'Tajawal', sans-serif
}

.lead {
    font-family: 'Sanchez 200', serif
}

.bg-grey {
    background-color: rgba(238, 238, 238, 0.878) !important;
}

.footer-logo {
    width: 12rem;
    position: absolute;
    bottom: 80%;
    right: 27%;
}
.v-divider{
    position: absolute;
    height: 50%;
    width: 2px;
    right: 38%;
    background-color: rgba(255, 255, 255, 0.638);
}
.btn-finiata-start {
    background-color: rgb(255, 102, 0) !important;
    width: 9rem !important;
    height: 45px;
    border: none;
    font-size: 0.85rem !important;
    font-weight: 500 !important;
    padding: 0rem 0.5rem !important;
    color: white !important;
    border-radius: 5px;
    text-align: center !important;
}

@media (max-width:768px) {
    .v-divider{
        display: none;
        position: absolute;
        height: 50%;
        width: 2px;
        right: 38%;
        background-color: rgba(255, 255, 255, 0.638);
    }
    .footer-logo {
        width: 12rem;
        position: absolute;
        bottom: 70%;
        right: 27%;
    }
    .btn-finiata-start {
        background-color: rgb(255, 102, 0) !important;
        width: 7rem !important;
        height: 45px;
        border: none;
        font-size: 0.8rem !important; 
        font-weight: 500 !important;
        padding: 0rem 0.4rem !important;
        color: white !important;
        border-radius: 5px;
    }
}